html,
body {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
    display: block;
    left: 0;
    right: 0;
    height: 100%;
}
#container {
    min-width: 100%;
    min-height: 100%;
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--white);
}

.messagebox-main {
    width: 100%;
    height: 100%;
}

#loading {
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    opacity: 0.8;
    z-index: 99;
}
  
#loading-image {
    z-index: 100;
}

.underline-text {
    text-decoration: underline;

}

.header-bold-text {
    color: var(--theme-primary);
    font-weight: bold;
}

.font-icon {
    background-Color: var(--theme-primary);
    color: white;
    font-size: 20px;
    padding: 9px;
    border-radius: 19px;
}

#imageContainer {
    width: 384px;
    height: 384px;
    z-index: 100;
    display: block;
    margin: auto;
}

#learnmore-buttons-stack {
    padding: 13px 20px 13px 20px;
    width: 850px;
    height: 58px;
}

#learnmore-stack {
    padding: 6px 8px 6px 8px;
    height: 28px;
}

.messagebox-body {
    height: 523px;
    padding-inline-start: 24px;
    z-index: 99;
}

.messagebox-body-intro {
    width: 414px;
    height: 177px;
}

.messagebox-text {
    width: 414px;
}

.info-icon {
    font-size: 16px;
    color: var(--theme-primary);
}

.svgLogo {
    width: 32px;
    height: 32px;
    padding-top:20px;
}

.termsOfUseContainer {
    padding-top: 8px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--neutral-quaternary-alt);
}

.trialInfo 
{
    padding-top: 28px;
    border-top-color: var(--neutral-quaternary-alt);
}

.informationView-text {
    height: 200px;
    text-align: center;
}

.informationView-introText {
    padding: 0 140px 0 115px;
}

.loadingSvg {
    filter: brightness(0.8) saturate(100%) hue-rotate(300deg)
}
